/*

INDHOLDSFORTEGNELSE 

    Overordnet root styling / Linje 10
    Nav-bar / Linje 62 
    Big photo / Linje 235 
    Intro text / Linje 356 
    Billedgalleri / Linje 458 
    Instainfo / Linje 541 
    Instagalleri / Linje 610 
    Google maps / Linje 685
    Footer  / Linje 740 
    Media queries til footer og nav / Linje 825

*/

*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: "Coolvetica";
    letter-spacing: 1px;
}

h1 {
    font-weight: 500;
    letter-spacing: 2px!important;
    font-size: 32px;
}
    
:root {
    /* Denne farve bruges som hover-effekt i navbaren, til footeren, til knappen i Instagram-afsnittet og i vores h1'er i introteksten */
    color: #215DAB;
        /*Farven bliver brugt til baggrunden på nav*/
    color: #89b3cf;
     /*Farven bliver brugt til scroll up butten*/
    --knapfarve: #c56e81;
     /*Farven bliver brugt til baggrunden på body på samtlige sider*/
    color: linear-gradient(white, #89b3cf); 
     /*Farven bliver brugt til menupunker og skrift over big photo samt tekst i footer*/
    color: white;
    color: #f1f1f1;
    color: rgb(255, 255, 255);
     /*Farven bliver brugt til xxx*/
    color: black;

  }
/* tilpasset scroll, så når man trykker på menu links */
html{
    scroll-behavior: smooth;
}

/* tilpasset scroll bar (farven ændres) */
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
    background: #89b3cf;
}

::-webkit-scrollbar-thumb:hover {
    background: #89b3cf;
}



/* max width på menubaren */

.max-width{
    max-width: 2200px;
    padding: 0 100px;    
    margin-left: auto;
    justify-content: space-between;
    height: auto;

}
    
/* navbar */ 

/* max width på menubaren */

.max-width{
    max-width: 2200px;
    padding: 0 100px;    
    margin-left: auto;
    justify-content: space-between;

}
/* media query til computer skærm */

.mobil {
    display: none;
}

@media (max-width: 1920px){
    
/* navbar */ 

.navbar{
    position: fixed;
    width: 100%;
    z-index: 999;
    padding: 30px 0;
    height: auto;
    transition: all 1s ease;
    justify-content: space-between;
    
}
.navbar.sticky{
    padding: 5px 0;
    background: rgb(255,255,255);
    background: linear-gradient(0deg, rgba(0, 62, 78, 0), rgba(0, 0, 0, 0.785) 100%);
    background-size: 80%;
    height: 150px;
}

@media only screen and (max-width: 900px) {
    .navbar.sticky{
        background-color: #215DAB; 
        background: linear-gradient(0deg, #113f7a8d, #143e7493 100%); 
        height: 100px;
    }
    .logo img{
        width:120px;
        height: auto;
        margin-left: -60px;
    }
}

.navbar .max-width{
    display: flex;
    align-items: center;
}
.navbar .logo a{
    color: rgb(255, 255, 255);
    font-size: 5px;
    font-weight: 600;
    
}
.navbar .logo a span{
    color:#89b3cf;
    transition: all 0.3s ease;
}
.navbar.sticky .logo a span{
    color: #fff;
}

.logo img{
    width:120px;
    height: auto;
}

ul{
    display: inline-flex;
    flex-shrink: 0;
}


.max-width {
    padding-right: 20px;
}

.navbar i {
    font-size: 40px;
}

.logonav {
    filter: drop-shadow(3px 3px 3px #00000048);
}
    

.navbar .menu li{
    list-style: none;
    display: inline-block;
    
}
.navbar .menu li a{
    display: block;
    color: rgb(255, 255, 255);
    font-size: 25px;
    margin-left: 25px;
    transition: color 0.3s ease;
}
.navbar .menu li a:hover{
    color: #c56e81;
    text-shadow: 0 0 80px rgb(249, 249, 249), 0 0 32px rgba(245, 245, 245, 0.863); 
}

.navbar.sticky .menu li a:hover{
    color: #c56e81;
    text-shadow: 0 0 80px rgb(255, 255, 255), 0 0 32px rgba(255, 255, 255, 0.785).24;
}

.navbar .menu li a::after{
    content: '';
    width: 0%;
    height: 2px;
    background:#efd5da;
    display: block;
    margin: auto;
    height: auto;
    transition: 0.5s;
}
.navbar .menu li a:hover::after{
    width: 100%;
    height: auto;
}


.menu {
    padding-right: 5%;
    left: 120px;
}
/* farven bag ved main farven på hele dokumentet */

body{ 
    background-image: linear-gradient(white, #89b3cf);  
}

/* menu knappen */
.menu-btn{
    color: #fff;
    font-size: 23px;
    cursor: pointer;
    display: none;
}
.scroll-up-btn{
    position: fixed;
    height: 45px;
    width: 42px;
    background: #c56e81;
    right: 30px;
    bottom: 10px;
    text-align: center;
    line-height: 45px;
    color: #fff;
    z-index: 9999;
    font-size: 30px;
    border-radius: 6px;
    border-bottom-width: 2px;
    cursor: pointer;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;
}
.scroll-up-btn.show{
    bottom: 30px;
    opacity: 1;
    pointer-events: auto;
}
.scroll-up-btn:hover{
    filter: brightness(90%);
}


/* Headerbilledet */

#videogradient {
    filter: brightness(40%);
}

.header{
    overflow: hidden;
    max-height: 100vh;
    width: 100%;
    background-position: center;
    background-size: cover;
    position: relative;
    background-attachment: fixed;
}



.text-box{
    width: 90%;
    color: rgba(255, 255, 255, 0.774);
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%,-5%);
    text-align: center;
    height: auto;
    
}

.text-box h2 {
 letter-spacing: 3px;
 line-height: 55px;
font-weight: 400;
font-size: 60px;
color: white;
}

@media only screen and (max-width: 900px) {
    .text-box{
        width: 90%;
        color: rgba(255, 255, 255, 0.774);
        position: absolute;
        top: 20%;
        left: 50%;
        transform: translate(-50%,-5%);
        text-align: center;
        height: auto;
        
    }
    .text-box h2 {
        padding-top: 100px;
        font-size: 7vw;
        line-height: 35px;
    }
}

/* tekst på headerbilledet */



.text-box a span {
    position: absolute;
    left: 50%;
    width: 44px;
    height: 44px;
    margin-left: -12px;
    border-left: 1px solid #fff;
    border-bottom: 1px solid #fff;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-animation: sdb05 1.5s infinite;
    animation: sdb05 1.5s infinite;
    box-sizing: border-box;
    margin-top: 250px;
    cursor: default;
  }
  @-webkit-keyframes sdb05 {
    0% {
      -webkit-transform: rotate(-45deg) translate(0, 0);
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    100% {
      -webkit-transform: rotate(-45deg) translate(-20px, 20px);
      opacity: 0;
    }
  }
  @keyframes sdb05 {
    0% {
      transform: rotate(-45deg) translate(0, 0);
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    100% {
      transform: rotate(-45deg) translate(-20px, 20px);
      opacity: 0;
    }
  }

  #knap-forside-H {
    width: 200px;
    padding:15px;
    height: auto;
}

  #knap-forside-V {
    width: 200px;
    padding:15px;
    height: auto;
}


#knap-forside-H:hover {
    filter: brightness(90%);
    transform: scale(0.99); 
}
#knap-forside-V:hover {
    filter: brightness(90%);
    transform: scale(0.99); 
}

 

/* ----------------- INTRO TEXT ------------ */ 

.introtekst {
    padding-top: 100px;
    padding-bottom: 100px;
    width: 60%;
    text-align: center;
    margin: 0 auto;
    color: rgb(0, 0, 0);
    height: auto;
}

.introtekst h1 {
    color: #215DAB;
    margin-top: 10px;
    margin-bottom: 20px;
}

.introtekst p {
    font-size: 1.5em;
}

/* ------------------ BILLEDGALLERI ------------------- */ 

.bg_farve_hvid {
    background-color: white; 
    padding-top: 50px; 
    padding-bottom: 50px; 
    letter-spacing: 2px;
}

.bg_farve_hvid h1 {
    text-align: center;
    padding-top:50px; 
    padding-bottom: 50px; 
    font-size: 32px; 
    letter-spacing: 2px;
}

.bg_farve_hvid h2 {
    text-align: center;
    padding-bottom: 50px; 
    font-size: 25px; 
    letter-spacing: 2px;
}

.bg_farve_hvid p {
    width: 60%;
    margin: 0 auto;
    color: rgb(0, 0, 0);
    font-size: 1.5em;
    height: auto;
}

.container {
    padding-bottom: 100px;
    position: relative;
    margin: 0 auto;
    max-width: 60%;
    height: auto;
  }


#ispind_mobil {
    display: none;
}

@media only screen and (max-width: 980px){
    #ispind_mobil {
        display: block;
        width: 30%;
        margin: 0 auto;
        padding-bottom: 50px;
        height: auto;
    }
    #ispind_pc {
        display: none;
    }
}

.ispind h1 {
    text-align: center;
    padding-top:50px; 
    padding-bottom: 50px; 
    font-size: 32px; 
    letter-spacing: 2px;
}

.ispind p {
    font-size: 1.5em
}

/* ---------- BILLED GALLERI MAIN ----- */ 
  /* Gem billeder som default */
  .mySlides {
    display: none;
    margin: 0 auto;

  }
  
  .cursor {
    cursor: pointer;
  }
  
  /* frem og tilbage knap */
  .prev,
  .next {
    cursor: pointer;
    position: absolute;
    top: 40%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
    height: auto;
  }
  
  /* næste til højre*/
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  .prev:hover,
  .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }
  
  /* nummer på gallery */
  .numbertext {
    color: #ffffff;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 100;
    font-size: 15px;
  }
  
  /* billedtekst container */
  .caption-container {
    text-align: center;
    background-color: rgb(255, 255, 255);
    padding: 2px 16px;
    color: rgb(0, 0, 0);
    font-size: 30px;
    display:none;
  }
  
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  .column {
    float: left;
    width: 16.66%;
    height: auto;
  }
  
  .demo {
    opacity: 0.6;
  }
  
  .active,
  .demo:hover {
    opacity: 1;
  }


  /* Information omkring instagram */


  .instainfo {
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    
  }
  .instagram-info {
    width: 60%;
    max-width: 1150px;
    margin: 50px auto;
    display: flex;
    align-items: center;
    justify-content: center;
    height: auto;
  }
  .left {
    width: 100%;
    height: 600px;
    background: url(../images-2/5.webp)
      no-repeat center / cover;
    border-radius: 8px;
   
  }
  .right {
    width: 100%;
    min-height: 400px;
    background-color:white;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px;
    border-radius: 8px;
    color: rgb(0, 0, 0);
    margin-left: -150px;
  }
  .right h2 {
    font-size: 40px;
    font-weight: 500;
    color:#000000;
    letter-spacing: 2px;
  }
  .right p {
    margin: 20px 0;
    font-weight: 500;
    line-height: 25px;
    color: black;
  }
  .right a {
    text-decoration: none;
    text-transform: uppercase;
    background-color: rgb(207, 207, 207);
    color: white;
    background-color: var(--knapfarve);
    padding: 20px 30px;
    display: inline-block;
    letter-spacing: 2px;
    border-radius: 8px;
  }

  
  


/* ------ VORES INSTAGRAM BILLEDER  ------ */

.instah1 {
    text-align: center;
    padding-top:50px; 
    padding-bottom: 50px; 
    font-size: 32px; 
    letter-spacing: 2px;
    padding-right: px;
}

.instagalleri {
    width: 63%;
    flex-wrap: wrap;
    margin: 0 auto;
    gap: 20px;
    padding: 0;
    padding-top: 50px;
    padding-bottom: 100px;
    height: auto;
}

.instagalleri img {
    max-width: 30%;
    padding: 5px 0px 5px;
    margin-left: 2%;
    height: auto;
}

.instagalleri img:hover {
    filter: contrast(70%);
    filter: brightness(70%);
}

/* ------ TABLET ------- */
@media only screen and (max-width: 1400px){
    .instagalleri {
        width: 100%;
        margin-left: auto;
        padding-left: 10%;
        overflow: hidden;
        height: auto;
    }
    .instagalleri img {
        max-width: 40%;
        margin-left: auto;
        height: auto;
    }
}

/* ------ MOBIL ------- */
@media only screen and (max-width: 1000px){

    .instah1 {
        text-align: center;
        padding-top:50px; 
        padding-bottom: 20px; 
        font-size: 32px; 
        letter-spacing: 2px;
        padding-right: 0px;
    }

    .instagalleri {
        width: 90%;
        padding-left: 7%;
        height: auto;
    }
    .instagalleri img {
        max-width: 45%;
        height: auto;
    }
}

/* ------------------- GOOGLE MAPS ---------------*/

#roundtable {
    background-color: #215DAB;
    width: 30%;
    margin: auto;
    -webkit-border-top-left-radius: 30px;
-webkit-border-top-right-radius: 30px;
-moz-border-radius-topleft: 30px;
-moz-border-radius-topright: 30px;
border-top-left-radius: 30px;
border-top-right-radius: 30px;
height: auto;
}

#line {
    height: 40px;
    background-color: #215DAB;
}


.findosher {
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.098);
    color: rgb(255, 255, 255);
    text-align: center;
    margin-top: 50px; 
    margin-bottom: -10px; 
    letter-spacing: 3px;
    padding-top: 20px;
    padding-bottom: 0px;
}

.iframe {
    margin-top: 50px;
    display:flex;
    justify-content: center;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 0px;
    box-shadow: 0px -20px 50px rgba(0, 0, 0, 0.146);
    height: auto;
}

@media only screen and (max-width: 980px) {
    .iframe {
        width: 100%;
        margin: 0 auto;
        height: auto;
    }
    #roundtable {
        width: 100%;
        height: auto;
     }
}

/* ------------footer på com--------------------- */
footer {
    z-index: 2;
    position: absolute;
    margin-top: -130px;
    filter: drop-shadow(10px 1px 10px rgba(0, 0, 0, 0.261));
}

footer #pc_footer {
    width: 100%;
    height: auto;
}

#mobile_footer {
    display: none;
}

#bg_farve {
    padding-top: 100px;
    margin-top: -10px;
    background-color: #215DAB;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 5%;
}

#bg_farve p {
    color:white; 
}

#bg_farve h2{
    color:white; 
}

#rightsreserved {
    margin-top: -70px;
}

@media only screen and (max-width: 1400px) {
    #rightsreserved {
        margin-top: 50px;
    }
}


 /* kolonnerne i footeren får samme størrelse*/
#socials, #copyright, #footer_indhold {
width: 33%;
height: auto;

}

#socials {
    text-align: right;
}

#socials i{
   color: white;
   letter-spacing: 10px;
   font-size: 40px;
}


@media only screen and (max-width: 980px){
    .menu-btn{
        display: block;
        z-index: 999;
        }
    .navbar .menu{
        position: fixed;
        height: 112vh;
        width: 100%;
        left: -120%;
        top: 0;
        background: #89b3cf;
        text-align: center;
        padding-top: 80px;
        transition: all 0.3s ease;
        display: flex;
    flex-direction: column;
    }
    .navbar .menu.active{
        left: 0;
    }
    .navbar .menu li{
        display: block;
        font-weight: 500;

    }
    .navbar .menu li a{
        display: row;
        margin: 20px 0;
        font-size: 25px;
    }
 
    /* VIS MOBIL LOGO */
    .pc {
        display: none;
    }

    .mobil {
        padding-top: 5px;
        padding-bottom: 5px;
        display: block;
        filter: drop-shadow(5px 5px 5px rgba(34, 34, 34, 0.249)); 
    }

    .sticky{
       display: block;
    }

    .logonav {
        margin-left: -70px;
    }
    .logo img{
        width:100px;
        height: auto;
    }

    .menu {
        font-size: 10px!important;
    }
}


@media only screen and (max-width: 800px) {
    /* Vise mindre footer på mobil */
    footer #pc_footer {
        display: none;
    }

    footer #mobile_footer {
        display: block;
        width: 100%;
        height: auto;
    }

    #footer_indhold {
        text-align: center;
        width: 100%;
        height: auto;
    }

    #copyright, #socials {
        width: 100%;
        text-align: center;
        padding: 3%;
        height: auto;
    }
    
    .max-width{
        max-width: 930px;
        height: auto;
    }
    #knap-forside-H {
        width: 150px;
        padding:5px;
        height: auto;
    }

    #knap-forside-V {
        width: 150px;
        padding:5px;
        height: auto;
    }

    .container {
        padding-bottom: 100px;
        position: relative;
        margin: 0 auto;
        max-width: 90%;
        height: auto;
      }

      .gallery{
        width: 100%;
        margin: 10px 96px;
        text-align: center;
        padding-bottom: 120px;
        height: auto;
    }
    .gallery img{
        width: 100%;
        padding: 6px;
        transition: 1s;
        height: auto;
    }
    .gallery img:hover{
        filter: brightness(1.3);
        transform: scale(1.1);
        
    }

    #findosher {
        width: 100%; 
        height: auto;
    }
    .container {
        width: 100%;
        height: auto;
    }
    #iframe {
        width: 100%;
        height: auto;
    }


/*skjul thumbnails af galleriet og gør selve billedet større*/
    .row{
        display:none;
    }
    

/* ------------Instagram info--------------------- */
.instagram-info {
    flex-direction: column;
    width: 100%;
    margin: 0 20px;
    height: auto;
  }
  .left {
    width: 100%;
    height: 400px;
    
  }
  .right {
    width: 90%;
    margin: 0;
    margin-top: -100px;
    height: auto;
  }
}

}



